doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='/node_modules/underscore/underscore-min.js')
    script(src='/main.js')
  body
    block content